/*Aplicado a todos os elemntos do site*/
* {
    margin: 0;                       
    padding: 0;
    box-sizing: border-box;             /*Margens, espaçamentos, espaçamento na largura e altura, fonte e sublinhado*/
    font-family: Arial, sans-serif;
    text-decoration: none
}

/*Aplicado ao Header do Site*/
header {
    background-color: #005f73;
    padding: 15px;
    display: flex;/*Layou flexivel*/              /*Organizar elementos, elementos em coluna*/
    flex-direction: column;
    align-items: center;
}

/*Aplicado a logo no Header*/
.logo img {
    width: 150px;                     /*Largura, altura proporcional*/
    height: auto;
}

/*Aplicado aos botões do Header*/
.btn{
    background-color:#005f73;
    padding: 9px 12px; /*tamanho da borda dos botoes*/
    border-radius: 10px; /*arredonda o botao*/
    transition: 0.1s; /*tempo de transicao do botao*/
    }
    
    /*Animação ao passar o cursor em cima*/
    .btn:hover{
    background-color: #94d2bd ; /*mudar do da animcao do botao*/
    }

/*Aplicado ao Banner do site*/
.banner {
    background-color: #0a9396;
    padding: 50px;
    text-align: center;
    color: white;
}

/*Aplicado ao Sub-título do Banner*/
.banner h2 {
    font-size: 36px;
}

/*Aplicado aos parágrafos do Banner*/
.banner p {
    font-size: 18px;
    margin: 10px 0 20px;
}

/*Botão animado "Ver Produtos"*/
.banner .btn-animate-btn {
    background-color: #94d2bd;
    color: #005f73;
    padding: 10px 20px; 
    font-size: 18px;
    border-radius: 5px; /*Bordar arredondadas*/
    cursor: pointer;
}

/*Animação do botão piscando*/
.btn-animate-btn {
    animation: animate-outline 1s ease-out infinite;
}

.sapatos { /*Deixa os produtos alinhados*/
    padding: 0px 20px;
    text-align: center;
}

/*Aplicado para ocultar metade dos produtos*/
.produtos {
    display: none;
}

/*Aplicado para os produtos ocultos aparecerem ao clicar em "Ver Produto" com JS*/
.produtos.active {
    display: inline; /*Define o container como inline*/
}

/*Sub-título dos produtos*/
.produtos h2 {
    font-size: 28px;
    color: #005f73;
    text-align: center;
    padding: 50px;
}

/*Container para organizar os produtos*/    
.produtos-container {
    display: flex;/*Layou flexivel*/
    justify-content: space-around; /*Distribuiçao dos elementos alinhados com espaço iguais entre eles*/
}

/*Réplica da classe "produtos" para animação JS*/
.produtos2{
    padding: 30px 20px; /*Distância entre os produtos*/  
}

.produtos-container2 {
    display: flex;/*Layou flexivel*/
    justify-content: space-around; /*Distribuiçao dos elementos alinhados com espaço iguais entre eles*/
}

/*Post individual dos produtos*/
.produto {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;/*Arredonda as bordas*/
    width: 250px; /*Tamanho*/
    padding: 20px;/*Espaçamentro até as bordas*/
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.8s;
    display: flex;/*Layou flexivel para deixar os botões "comprar" alinhados*/
    flex-direction: column;
}

/*Animação de zoom ao passar o cursor sobre o produto*/
.produto:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/*Aplicado a imagem do produto*/
.produto img {
    max-width: 100%;
    height: auto; /*altura proporcional*/
    margin-bottom: 15px;/*Espaçamento abaixo*/
}

/*Aplicado ao nome do produto*/
.produto h3 {
    font-size: 20px;
    margin-bottom: 10px;/*Espaçamento abaixo*/
    color: #333;
}

/*Aplicado ao preço do produto*/
.produto p {
    font-size: 16px;
    margin-bottom: 15px;/*Espaçamento abaixo*/
    color: #555;
}

/*Botão Comprar*/
.btn-comprar {
    background-color: #005f73;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;/*Arredonda as bordas*/
    margin-top: auto; /*Alinhamento dos botões "Comprar" com o conteiner flexivel*/
}

/* Navegação da barra */
nav ul {
    list-style: none;/* Remove marcadores de lista */
    display: flex; /*Layou flexivel*/
    justify-content: flex-end; /* Alinha os itens à direita */
    margin: 0; /* Remove margens */
}

/* Configuração dos itens de lista */
nav ul li {
    margin: 0 15px;/* Espaçamento entre os itens */
}

/* Links da navegação */
nav ul li a {
    color: white; /* Cor do texto branco */
    font-size: 16px; /* Tamanho do texto */
}

/*Rodapé do site*/
footer {
    background-color: #005f73;
    color: white;
    padding: 20px 0;
    text-align: center;
}

/*Animação do botão "Ver Produtos" piscando*/
@keyframes animate-outline {
    from {
        outline: 0px solid #94d2db;
    }

    to {
        outline: 15px solid #4f9bf900;
    }
}