/*Aplicado a todos os elemntos do site*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;     /*Margens, espaçamentos, paddin na largura e altura, fonte*/
    font-family: 'Arial','Poppins', sans-serif;
}

/*Aplicado ao Header do Site*/
header {
    background-color: #005f73;
    color: white;
    padding: 20px 0;
}

/*Aplicado ao que fica dentro do Body no HTML*/
body {
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

/*Aplicado a logo no Header*/
.logo {
    width: 100px; /*Largura, altura proporcional*/
    height: auto;
    margin-left: 20px;
}

/*Aplicado ao texto principal do Header*/
.header-text {
    text-align: center;
    margin-top: -50px;
    margin-bottom: 30px;
}

/*Aplicado aos botões de navegação principal do header */
.btn{
    background-color:#005f73;
    padding: 9px 12px; /*tamanho da borda dos botoes*/
    border-radius: 10px; /*arredonda teu botao */
     /*botao do mouse em cimam do btn */
    transition: 0.1s; /*tempo de transicao do botao*/
    }
    
    
    .btn:hover{
    background-color: #94d2bd ; /*mudar do da animcao do botao*/
    
    }

/*Sessão em que o produto se encontra*/
section.post {
    padding: 50px 20px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin: 30px 10px;
    border-radius: 8px;
}

/*Aplicado ao texto principal da sessão do produto*/
section.post h1 {
    text-align: center;
    color: #005f73;
    margin-bottom: 30px;
}

.post-container {
    display: flex;
    flex-direction: row; /*Itens organizados na horizontal*/
    justify-content: space-around; /*Distribui os itens igualmente ao longo da linha*/
    align-items: center;
}

.postsp img {
    max-width: 350px;
    height: auto;
    border-radius: 8px;/*Arredonda as pontas*/
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

/*Classe em que se encontra todos os detalhes do produto*/
.detalhes {
    max-width: 500px;
}

/*Aplicado no nome do produto*/
.titulo h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

/*Aplicado no código do produto*/
.codigo {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

/*Aplicado no preço do produto*/
.preco p {
    font-size: 20px;
    color: #005f73;
    margin-bottom: 10px;
}

/*Aplicado a cor do produto*/
.cor p {
    font-size: 16px;
    margin-bottom: 10px;
}

/*Bolinhas com a cor de cada produto*/
#color_B{
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#color_W{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

#color_M {
    width: 30px;
    height: 30px;
    background-color:#321e17;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

#color_A {
    width: 30px;
    height: 30px;
    background-color:#ebb167;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

#color_D{
    width: 30px;
    height: 30px;
    background-color:#273253;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

#color_X{
    width: 30px;
    height: 30px;
    background-color:#c1b4a6;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

/*Aplicado na parte de seleção do tamanho do produto*/
.tamanho{
    width: 35px;
    height: 35px;
    border-radius: 6px;
    margin-top: 10px;
    background-color: azure;
    cursor: pointer;
    border:  1px dotted blue;
}

.tamanho-selecionado {
    background-color: #12b80cd1; /* Cor de fundo quando selecionado */
    color: white; /* Cor do texto quando selecionado */
}

/*Aplicado ao botão "Comprar"na sessão do produto*/
.comprar {
    margin-top: 20px;
}

.btn-comprar2 {
    background-color: #94d2bd;
    color: #005f73;
    padding: 10px 20px; /*Espaçamento*/
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px; /*Arredonda as pontas*/
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-top: 10px; /* Adicionado para espaçamento */
    cursor: pointer;
}

.btn-comprar2:hover {
    background-color: #005f73;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/*Aplicado na descriçao do Produto*/
section.descricao {
    padding: 40px 20px; /*Espaçamento*/
    background-color: #f0f0f0;
    margin: 20px 10px;
    border-radius: 8px;
}

section.descricao h2 {
    color: #005f73;
    margin-bottom: 15px;
}

section.descricao p {
    color: #333;
    line-height: 1.8;
}

/* Navegação da barra */
nav ul {
    list-style: none;/* Remove marcadores de lista */
    display: flex;/* Flexbox para organizar os itens */
    justify-content: center;/*centralizar elementos*/
}

/* Configuração dos itens de lista */
nav ul li {
    margin: 0 15px; /* Espaçamento entre os itens */
}

/* Links da navegação */
nav ul li a {
    color: white;/* Cor do texto branco */
    text-decoration: none;/* Remove sublinhado */
    font-size: 16px;/* Tamanho do texto */
    transition: color 0.3s ease;/*Transição suave para mudanças na propriedade color*/
}

/*Rodapé do site*/  
footer {
    background-color: #005f73;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}


/*PAYMANTS*/
.container{
    display: none;
    
}   
#mensagemSucesso {
    display: none; /* Inicialmente oculto */
    margin-top: 20px;
    color: green;
    font-weight: bold;
}
/*container principal*/
.container.active{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px;
    min-height: 100vh;
   
}
  /*container formulario*/
  .container form{
    padding:20px;
    width:700px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    border-radius: 5px;
  }
  /*SEUS DADOS e PAGAMENTO*/
  .container form .row{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
  }
  /*organizaçao entre os inputs*/
  .container form .row .col{
    flex:1 1 250px;
  }
  /*titulo pagamento*/
  .container form .row .col .title{
    font-size: 20px;
    color:#333;
    padding-bottom: 5px;
    text-transform: uppercase;
  }
  /*todos os quadrados*/
  .container form .row .col .inputBox{
    margin:15px 0;
  }
  
  .container form .row .col .inputBox span{
    margin-bottom: 10px;
    display: block;
  }
  
  .container form .row .col .inputBox input{
    width: 100%;
    border:1px solid #005f73;
    padding:10px 15px;
    font-size: 15px;
    text-transform: none;
  }
  /*destaque nas bordas*/
  .container form .row .col .inputBox input:focus{
    border:1px solid #000;
  }
   /*validade e ano gap*/
  .container form .row .col .flex{
    display: flex;
    gap:15px;
  }
  
  .container form .row .col .flex .inputBox{
    margin-top: 5px; /*magin*/
  }
  /*img cartoes*/
  .container form .row .col .inputBox img{
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
  }
  /*botao finalizar compra*/
  .container form .submit-btn{
    width: 100%;
    padding:12px;
    font-size: 17px;
    background: #005f73;
    color:#fff;
    margin-top: 5px;
    cursor: pointer;
    transition: background-color .1s ease;
  }
  
  .container form .submit-btn:hover{
    background: #2ecc70;
  }

  #mensagem {
    display: none;
    margin-top: 10px;
    color: green;
    font-weight: bold;
  }